<h1><%= @hospital.name %></h1>
<div class="ui card center">
<% if @hospital.service_pack %>
 Service pack: <%= @hospital.service_pack.sp_type.upcase%><br/>
    <% if @hospital.service_pack.sp_type != :free %>
 Due date: <%= @hospital.service_pack.duedate.to_date %><br/>
      <b>
        Patient limit: 50000 <br/>
        Medical Record limit: 100000 <br/>
        Medical Record Template limit: 100 <br/>
      </b>
      <% else %>
      <b>
        Patient limit: 5000 <br/>
        Medical Record limit: 10000 <br/>
        Medical Record Template limit: 10 <br/>
      </b>
      <% end %>
<% else %>
  <h2>You haven't registered a service yet!</h2>
<% end %>
</div>
<br/>


<div class="ui divider">
  <% if can? :update, @hospital %>
    <%= link_to 'Back', hospital_path(@hospital) %>||
    <%= link_to 'New Service request', new_hospital_service_request_path(@hospital) %>
  <% end %>
  <br/><br/>

</div>