<!DOCTYPE html>
<html>
<head>
  <title>Emed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg">


  <div class="pusher" >
    <%= render 'layouts/header'%>
    <% if current_user %>
    <div class="ui secondary labeled icon open button">
        
      <i class="align justify icon"></i>
      Menu
  </div>
  <% end %>
    <div class="ui container">
      <div class="ui segment" style="opacity: 0.9">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <%= yield %>
      </div>
    </div>
  </div>
  
  <%= render 'layouts/side_bar'%>

</body>
</html>
